In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
import os
import json

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-07-18 00:48:04,-53.1500,-70.9167,33.91,86,20,27.63
1,1,Vuktyl,RU,2022-07-18 00:50:34,63.8567,57.3094,61.52,87,52,0.20
2,2,Azare,NG,2022-07-18 00:50:34,11.6765,10.1948,71.53,88,100,4.36
3,3,Georgetown,MY,2022-07-18 00:49:00,5.4112,100.3354,84.13,91,20,3.44
4,4,Urumqi,CN,2022-07-18 00:50:35,43.8010,87.6005,81.55,23,20,15.66

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Georgetown,MY,2022-07-18 00:49:00,5.4112,100.3354,84.13,91,20,3.44
4,4,Urumqi,CN,2022-07-18 00:50:35,43.8010,87.6005,81.55,23,20,15.66
8,8,Cayenne,GF,2022-07-18 00:50:35,4.9333,-52.3333,83.08,1,100,0.00
12,12,Saint-Denis,FR,2022-07-18 00:50:37,48.9167,2.3333,75.97,43,0,6.91
14,14,Vaini,TO,2022-07-18 00:50:37,-21.2000,-175.2000,77.16,88,40,10.36
16,16,Fereydun Kenar,IR,2022-07-18 00:50:38,36.6864,52.5225,80.29,71,0,5.41
17,17,Atuona,PF,2022-07-18 00:50:38,-9.8000,-139.0333,78.22,77,22,19.35
25,25,Ardakan,IR,2022-07-18 00:50:40,32.3100,54.0175,81.03,10,0,8.19
29,29,San Eugenio,PH,2022-07-18 00:50:41,16.3598,120.3570,83.68,75,34,5.28
31,31,Alappuzha,IN,2022-07-18 00:50:42,9.4900,76.3264,75.99,83,100,9.73

In [13]:
preferred_cities_df.count()

City_ID       210
City          210
Country       210
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3       Georgetown      MY     84.13   5.4112  100.3354
4           Urumqi      CN     81.55  43.8010   87.6005
8          Cayenne      GF     83.08   4.9333  -52.3333
12     Saint-Denis      FR     75.97  48.9167    2.3333
14           Vaini      TO     77.16 -21.2000 -175.2000
16  Fereydun Kenar      IR     80.29  36.6864   52.5225
17          Atuona      PF     78.22  -9.8000 -139.0333
25         Ardakan      IR     81.03  32.3100   54.0175
29     San Eugenio      PH     83.68  16.3598  120.3570
31       Alappuzha      IN     75.99   9.4900   76.3264

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
4,Urumqi,CN,81.55,43.8010,87.6005,Hua Ling Grand Hotel Urumqi
8,Cayenne,GF,83.08,4.9333,-52.3333,Hôtel Le Dronmi
12,Saint-Denis,FR,75.97,48.9167,2.3333,ibis budget Paris Porte de Montmartre
14,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
16,Fereydun Kenar,IR,80.29,36.6864,52.5225,Khezer Shahr Tourist Hotel
17,Atuona,PF,78.22,-9.8000,-139.0333,Villa Enata
25,Ardakan,IR,81.03,32.3100,54.0175,Ardakan Hotel
29,San Eugenio,PH,83.68,16.3598,120.3570,Albans Lodging House
31,Alappuzha,IN,75.99,9.4900,76.3264,Panoramic Sea Resort

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))